.Vertical{
  .title{

    .headTitle{
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &>.el-text.el-tooltip__trigger{
        flex-grow: 1;
        text-align: center;
        /*max-width: calc(100vw - 216px - 1rem);*/
      }
    }
  }

  .fileFastMark{
    .fileItem{
      .fileItemELink{
        width: 100%;
        .el-link__inner{

        }
      }
    }
  }

  .VerticalImageBox{
    display: flex;
    flex-direction: column;
    /*overflow-y: scroll;*/
    content-visibility: auto;
    contain: size layout style;
    height: 100vh;
    height: 100svh;

    .el-image, .T-Img{
      margin: 0 20px;
      min-height: 2rem;
      flex-shrink: 0;


      .image-slot{
        background: #e5e7eb;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

  }
  .VerticalImageBox.ver{
    img{
      height: auto;
    }
  }
  .VerticalImageBox.horizontal{
    .el-image,.T-Img{
      margin: 20px 0;
      height: calc(100% - 40px);
    }
  }
  .VerticalImageBox.lTor{
    flex-direction: row;
  }
  .VerticalImageBox.rTol{
    /*flex-direction: row-reverse;*/
    flex-direction: row;
    .virtual-scroller{
      transform: scaleX(-1);
    }
    .T-Img{
      transform: scaleX(-1);
    }
  }
  .VerticalImageBox.rTol.disableVirtual{
    transform: scaleX(-1);
  }

  .bottom{
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
  }
}